<section id="home">
    <div class="home_apresentation">
        <div class="home_apresentation__introduction">
            <span>DEVELOPED BY <a href="https://github.com/LogicalDevs" id="developed_by">LOGICAL DEVS</a></span>
            <h1 class="home_apresentation__title">
                <span>FREE</span> URL SHORTNER 
                <br>WITH
                <br>STATISTICS</h1>
                <button>SHORT IT!</button>
        </div>
        <div class="home_apresentation__mockup">
            <img src="../../../assets/macbook.png" alt="">
        </div>
    </div>
</section>