<app-auth *ngIf="componentToggler.authenticationModal"></app-auth>

<main id="home">
    <section class="home_apresentation">
        <img src="../../../assets/backgrounds/minimalistic_home.jpg" alt="">
        <div class="home_apresentation__introduction">
            <span>DEVELOPED BY <a href="https://github.com/LogicalDevs" id="developed_by">LOGICAL DEVS</a></span>
            <h1 class="home_apresentation__title">
                <span>FREE</span> URL SHORTNER
                <br>WITH
                <br>STATISTICS
            </h1>
            <button>SHORT IT!</button>
        </div>
        <aside class="home_apresentation__mockup">
            <img src="../../../assets/macbook.png" alt="">
        </aside>
    </section>

    <section class="home_account_action">
        <h3>Let's save some bits together!</h3>
        <div class="home_account_action__triggers">
            <button class="home_account_action__triggers" (click)="callAuthModal()">Register</button>
            <button class="home_account_action__triggers-login" (click)="callAuthModal()">Login</button>
        </div>
    </section>
</main>