/* You can add global styles to this file, and also import other style files */

/* FONTS */
$main-font: "Roboto", sans-serif;

/* COLORS */
$primary: #2c3e50;
$secondary: #39ecae;
$success: #68d3be;
$info: #2c81ba;
$warning: #ef8a7f;
$light: #f2f5f5;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
}


a {
    text-decoration: none;
}

.scroll-width-none {
    scrollbar-width: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin buttons($bg, $color) {
    background-color: $bg;
    color: $color;
    font-family: $main-font;
    font-size: 1rem;
    margin-top: 2vh;
    padding: 8px 20px;
    cursor: pointer;
    font-weight: 600;
    border: none;
    border-radius: 2px;

    &:active {
        transform: translateY(1px);
    }

    @media (max-width: 575.98px) {
        width: 40vw;
        padding: 10px 20px;
    }
}


@mixin anchorUnderline() {
    pointer-events: all;
    color: $secondary;
    position: relative;
    z-index: 3;
    cursor: pointer;

    &:hover::before {
        width: 0%;
        height: 1px;
        background-color: $secondary;
        content: "";
        left: 0;
        bottom: 0;
        position: absolute;
        animation: 0.3s anchorUnderline linear;
        animation-fill-mode: forwards;
        z-index: 2;
    }
}

// Animations
@keyframes anchorUnderline {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.slide-in-right{-webkit-animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-right .5s cubic-bezier(.25,.46,.45,.94) both}
@-webkit-keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}@keyframes slide-in-right{0%{-webkit-transform:translateX(1000px);transform:translateX(1000px);opacity:0}100%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}}

.slide-out-left{-webkit-animation:slide-out-left .5s cubic-bezier(.55,.085,.68,.53) both;animation:slide-out-left .5s cubic-bezier(.55,.085,.68,.53) both}
@-webkit-keyframes slide-out-left{0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}100%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}}@keyframes slide-out-left{0%{-webkit-transform:translateX(0);transform:translateX(0);opacity:1}100%{-webkit-transform:translateX(-1000px);transform:translateX(-1000px);opacity:0}}