<nav id="navbar">
    <div class="create_url">
        <img src="../../../assets/icons/plus.svg" alt="">
        <span>New URL</span>
    </div>
    
    <div class="user_information">
        <span class="navbar_logo">MINIBYTES</span>
        <div class="user_information__divider"></div>
        <div class="user_information__wrapper">
            <span class="user_information__wrapper__name">Manuel Cool</span>
            <img class="user_information__wrapper__arrow_down" src="../../../assets/icons/arrow_down.svg" alt="">
        </div>
    </div>
</nav>  