<app-alert-modal *ngIf="componentToggler.alertModal" [alert]="alertModal"></app-alert-modal>
<app-create-url *ngIf="componentToggler.createUrlModal"></app-create-url>
<app-qrcode-modal *ngIf="componentToggler.qrCodeModal" [qrCodeUrl]="qrCodeUrl"></app-qrcode-modal>
<app-navbar></app-navbar>

<section id="client_panel">
    <div class="active_urls_chart_wrapper scroll-width-none" (wheel)="onWheel($event)" #scrollableUrlStats>
        <div class="active_urls_stats">
            <div class="active_urls_stats__item">
                <img src="../../../assets/icons/active_links.svg" alt="">
                <div class="active_urls_stats__item__content">
                    <span class="stats_item_title">Active Url's</span>
                    <span class="stats_item_number">{{ urlList.length  }}</span>
                </div>
            </div>
            <div class="active_urls_stats__item">
                <img src="../../../assets/icons/nClicks.svg" alt="">
                <div class="active_urls_stats__item__content">
                    <span class="stats_item_title">Total</span>
                    <span class="stats_item_number">0</span>
                </div>
            </div>
            <div class="active_urls_stats__item">
                <img src="../../../assets/icons/network.svg" alt="">
                <div class="active_urls_stats__item__content">
                    <span class="stats_item_title">Top Redirect</span>
                    <span class="stats_item_number">Discord</span>
                </div>
            </div>
        </div>
        <div class="active_urls_chart">
            <canvas id="canvas" >{{ chart }}</canvas>
        </div>
    </div>

    <div class="user_urls_container">
        <div class="user_urls_table_wrapper scroll-width-none">
            <h3 class="user_urls_title">Url Overview</h3>
            <table>
                <tr class="table_url_row" *ngFor="let url of urlList; let i = index" (click)="selectTableUrl(i)">
                    <td class="table_url_id">{{ url.id_url }}</td>
                    <td>{{ url.name_url }}</td>
                    <td>{{ url.created_in | date }}</td>
                    <td>11</td>
                    <td>{{ url.short_url.split('http://')[1]}}</td>
                    <td class="table_url_state">
                        <div class="table_url_tag__wrapper">
                            <span>{{ url.tags }}</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <aside class="user_urls_about_wrapper" *ngIf="currentSelectedUrl > -1">
            <div class="user_urls_about_content">
                Created: {{ urlList[currentSelectedUrl].created_in | date:'fullTime' }}
            </div>
            <div class="user_urls_about__item">
                https://www.minibytes/
                <input type="text" value={{urlList[currentSelectedUrl].short_url}}>
                <div class="user_url_options">
                    <button (click)="callAlertModal()">Copy</button>
                    <button (click)="openQrCode(urlList[currentSelectedUrl].short_url, urlList[currentSelectedUrl].name_url)">QR Code</button>
                    <button>Edit</button>
                </div>
            </div>
        </aside>
    </div>
</section>