<app-navbar></app-navbar>

<section id="client_panel">
    <div class="active_urls_wrapper scroll-width-none" (wheel)="onWheel($event)" #scrollableUrlStats>
        <div class="active_urls_stats">
            <div class="active_urls_stats__item">
                <img src="../../../assets/icons/active_links.svg" alt="">
                <div class="active_urls_stats__item__content">
                    <span class="stats_item_title">Active Url's</span>
                    <span class="stats_item_number">0</span>
                </div>
            </div>
            <div class="active_urls_stats__item">
                <img src="../../../assets/icons/nClicks.svg" alt="">
                <div class="active_urls_stats__item__content">
                    <span class="stats_item_title">Total</span>
                    <span class="stats_item_number">0</span>
                </div>
            </div>
        </div>
        <div class="active_urls_chart">
            <canvas id="canvas" >{{ chart }}</canvas>
        </div>
    </div>

</section>